.lawyerDetail {
    padding: 0 1.5rem;
    width: 95%;
    margin: 0 auto;

    h1.title {
        margin-bottom: 3rem;
        font-size: 2.8rem;
    }

    .text {
        text-indent: 1.5rem;
        letter-spacing: 0.5px;
        word-spacing: 2px;
        margin: 0 0 2rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2rem;
        font-family: Arial, Helvetica, sans-serif;
    }
}