.contact {
    position: fixed;
    bottom: 1%;
    right: 2%;

    .iconContainer {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #25d366;
        color: #fff;
        position: relative;
    }

    .whatsaapModal {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 2%;
        right: 3%;
        width: 80%;
        min-width: 350px;
        max-width: 450px;
        height: 30vh;
        border-radius: 12px;
        text-align: left;
        overflow: hidden;
        background-color: #f0fdf4;



        .whatsaapHeader {
            display: flex;
            background-color: rgb(7, 150, 0);
            flex-flow: row;
            align-items: center;
            justify-content: space-between;
            flex-shrink: 0;
            height: 50px;
            padding: 0 10px;

            .left {
                display: flex;
                align-items: center;
                gap: 5px;

                svg {
                    color: white;
                }

                span {
                    font-size: 18px;
                    color: white;
                }
            }

            .right {
                width: 30px;
                height: 30px;
                background-color: #94a3b8;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                svg {
                    color: #e2e8f0;
                }
            }

        }

        .chatBox {
            .content {
                padding: 20px;
                position: relative;

                .message {


                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        left: -12px;
                        border-width: 10px;
                        border-style: solid;
                        border-color: transparent transparent #fff transparent;
                        transform: rotate(236deg);
                    }

                    min-height: 60px;
                    position: relative;
                    padding: 18px 20px;
                    border-radius: 32px;
                    background-color: #fff;
                    color: #4a4a4a;
                    word-break: break-word;
                    transform: translateZ(0);
                    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .3));
                }
            }
        }

        .sendMessage {
            padding: 20px;
            border-radius: 20px;
            background-color: #25d366;
            font-weight: 500;
            line-height: 28px;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: auto;
            display: flex;
            align-items: center;
            color: #e2e8f0;

        }
    }
}

.kvkk {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    // transform: translate(-20%, 20%);
    background-color: rgba($color: #71717a, $alpha: 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        opacity: 1;
    }
}